<div class ='row'>
  <div class='col-md-offset-4 col-md-4 text-center'>
    <% if params[:plan] == '2' %>
      <h1>Pro Account</h1>
        <p>Sign up for PRO and get access to the community and contact information.  Only $10/month!</p>
          <div class = "well">
            <h2>Sign up</h2>
            <%= render "pro_form" %>
            <%= render "devise/shared/links" %>
          </div>

    <% else %>
    
      <h1>Basic Account</h1>
      <p>Sign up for FREE and get basic access to the community.</p>
          <div class = "well">
            <h2>Sign up</h2>
            <%= render "basic_form" %>
            <%= render "devise/shared/links" %>
          </div>
    <% end %>
  </div>
  
