.job-title-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border:  2px solid #2e6da4;
    background-color:#337ab7;
    color: white;
    border-radius: 4px;
    text-align: center;

}